<footer class="page-footer font-small bg-secondary pt-4">


    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes sociais.</h4>
            </div>
        </div>
        <!-- lista de icones das redes sociais -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/d.ssilva2/" target="_blank" class="icoFacebook">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/danilo-silva-77204312b/" target="_blank"
                            class="icoFacebook">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- /lista de icones das redes sociais -->
    </div>
    <div class="footer-copyright bg-dark text-center py-3 text-white align-content-center justify-content-center align-items-center">
        <span>
            &copy; Direitos reservados a Danilo Silva
        </span>
    </div>
</footer>