border-bottom {
    background: rgb(142, 141, 141);
    background: radial-gradient(circle, rgba(142, 141, 141, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.fs-16 {
    font-size: 16pt;
}

.a {
    cursor: pointer;
}