<nav class="navbar navbar-expand-lg navbar-light bg-secondary mt-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class="nav-item active m-1">
                    <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                    <img src="{{foto}}"
                        alt="eu" width="50px" height="50px" class="img-fluid rounded-circle p-1 border">
                </li>
                <li class="nav-item">
                    <p class="m-1 font-weight-bold fs-16 text-white">Olá, {{nome}} |</p>
                </li>
                <!-- icone de edição -->
                <li class="nav-item pl-2">
                    <a href="">
                        <p class="text-white fs-16 m-1">
                            <i class="fa fa-pencil-square-o text-white fs-16" aria-hidden="true"></i>
                        </p>
                    </a>
                </li>
                <!-- /icone de edição -->
            </ul>
            <!-- Icone para sair -->
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item pl-3">
                    <a (click)='sair'class="m-0 font-weight-bold text-white fs-16 fst-italic"(click)='sair()'>Sair<i class="ml-2 fa fa-sign-out"aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <!-- /Icone para sair -->
        </div>
    </div>
</nav>